#app {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #9900ff 0%, #66ff66 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-picture{
    position: relative;
}

.slider-picture img{
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.arrow {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.slider-dots{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 80%;
    border-radius: 50px;
    padding: 10px;
    width: 100%;
}

.slider-dots i{
    color: white;
    padding: 10px;
}

.slider-dots .current{
    color:rgb(253,187,64);
}

i{
    cursor: pointer;
}

.slider-mini-picture img{
    display: inline;
    width: 25%;
    height: 100%;
    opacity: 0.5;
    border: 1px solid black;
    cursor: pointer;
}

.slider-mini-picture .current{
    opacity: 1;
}

@media only screen and (max-width: 767px){
    .arrow {
        font-size: 20px;
    }
}



