#app {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #9900ff 0%, #66ff66 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-picture{
    position: relative;
}
.slider-picture img{
    width: 100%;
    height: 100%;
    border: 1px solid black;
}
.arrow {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.slider-dots{
    text-align: center;
    position: absolute;
    top: 80%;
    left: 40%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    padding: 10px;
}
.slider-dots i{
    color: white;
    padding-right: 10px;
    padding-left: 10px;
}
.slider-dots .current{
    color:rgb(253,187,64);
}
i{
    cursor: pointer;
}
.slider-mini-picture img{
    display: inline;
    width: 25%;
    opacity: 0.5;
    border: 1px solid black;
    cursor: pointer;
}
.slider-mini-picture .current{
    opacity: 1;
}